@background-color: #ffffff;
@text-color: #333;
@post-heading-color: #428bca;
@frame-color: grey;
@hover-color: gainsboro;

* {-webkit-box-sizing: border-box;box-sizing: border-box;
}

a {
    color: @post-heading-color;
    text-decoration: none;
}

::-moz-selection {
  background: lightblue;
}

::selection {
  background: lightblue;
}
.wrapper {
    max-width: 64em;
    margin: 0 auto;
    font: 1em;
}
.wrapper > * {
    /*border: 1px solid @frame-color;*/
    background-color: @background-color;
    /*border-radius: 5px;*/
    padding: 0.625em;
}

.main-head {
  grid-area: header;
  a {
  padding: 0.3125em;
  }
  a:hover { 
  background-color: @hover-color;
  border-radius: 0.125em;
  padding: 0.3125em;
  }
}
.content {
  grid-area: content;
  h1, h2, h3, h4, h5 {
    clear: both;
  }
}

.main-nav {
  grid-area: nav;
  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.active-nav a {
  border: 1px solid @post-heading-color;
  color: @text-color;
	}

.side {
  grid-area: sidebar;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
	a:hover { 
    background-color: @hover-color;
  }
}
.main-footer {
  grid-area: footer;
}

.list{
  grid-area:list;
}
.sticky-box{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
@supports (display: grid) {
.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.625em;
  grid-template-areas: 
    "header"
	  "nav"
    "content"
	  "list"
    "sidebar"
    "footer";
  }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;	
	li {
	    margin-right: 0.5em;
	}
  }
  figure.resp {
    float: left;
    width: 100%;
    font-style: italic;
    font-size: normal;
    margin: 0;
    padding: 0 1.5em 1em 0;
  }
}
@media (min-width: 47.5em) {
  .wrapper {
    grid-template-columns: 2.5fr 1fr;
	  grid-auto-flow: column;
    grid-template-areas: 
      "header header"
      "content sidebar"
	    "list list"
      "footer footer";
  }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;	
	li {
	    margin-right: 0.5em;
	}
  }
  figure.resp {
    float: left;
    width: 50%;
    font-style: italic;
    font-size: smaller;
    margin: 0;
    padding: 0 1.5em 1em 0;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25em;
  right: 1.875em;
  z-index: 50;
  border: none;
  outline: none;
  background-color: @hover-color;
  color: @text-color;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.625em;
  opacity:0.7;
}
#myBtn:hover {
  background-color: #555;
  color: white;
}
img.respimg {
  width: 100%;
  padding: 0;
  margin: 0;
  }
time{ 
	font-weight:normal;
}
.summary {
	padding-top: 1em;
}
.pagination{
	padding-top: 1em;
}
/* anchor links in subheadings*/
.hanchor { font-size: 100%; visibility: hidden; color:silver;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}
/*prevents inheritance of class in TOC*/
.active a {
  color: @text-color;
  border: 1px solid @post-heading-color;
}