<figure class="resp" {{ with .Get "max-width" }}style="max-width:{{.}}"{{ end }}>
    <img class="lozad respimg" dsrc="{{.Site.Params.cloudinary_base_url}}{{.Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}sizes="100vw" srcset="
{{.Site.Params.cloudinary_base_url}}q_auto/w_250/{{.Get "src" }} 250w,
{{.Site.Params.cloudinary_base_url}}q_auto/w_500/{{.Get "src" }} 500w,
{{.Site.Params.cloudinary_base_url}}q_auto/w_750/{{.Get "src" }} 750w, 
{{.Site.Params.cloudinary_base_url}}q_auto/w_425/{{.Get "src" }} 900w,
{{.Site.Params.cloudinary_base_url}}q_auto/w_425/{{.Get "src" }} 1200w,"
/>
<figcaption>{{ if isset .Params "title" }}
    {{ .Get "title" }}{{ end }}
    {{ with .Get "attrlink"}}<a href="{{.}}" target="_blank" rel="noopener"> {{ end }}
    {{ if .Get "attrlink"}}Paveikslo šaltinis</a> {{ end }}
</figcaption>
</figure>
