<cloudinary {{ with .Get “class” }}class="{{.}}"{{ end }}>
{{ with .Get “link”}}{{ end }}
<img
sizes="(min-width: 30em) 28em, 100vw"
srcset=“https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_256/{{ .Get “filename” }}.jpg 256w,
https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_512/{{ .Get “filename” }}.jpg 512w,
https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_768/{{ .Get “filename” }}.jpg 768w,
https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_1024/{{ .Get “filename” }}.jpg 1024w,
https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_1280/{{ .Get “filename” }}.jpg 1280w”
src=“https://res.cloudinary.com/howardm19/image/upload/f_auto,q_70,w_512/{{ .Get “filename” }}.jpg”