{{ $input := index .Params 0 }}
{{ $img_folder := (print $.Page.URL "images/")}}
{{ $img := (print $.Page.URL "images/"   $input)}}
{{ $image_path := (print "content" $img)}}
{{ with (imageConfig $image_path) }}
{{ $width := .Width }}
{{ if ge $width $.Site.Params.maxWidth }}
 	<a href={{$img}}><img src={{$img}} srcset="{{$img_folder}}{{$.Site.Params.maxWidth}}/{{$input}} {{(printf "%dw"            $.Site.Params.maxWidth)}}
        	{{ range $index, $elem := $.Site.Params.imageWidths }},{{$img_folder}}{{$elem}}/{{$input}} {{(printf "%dw" $elem)}}
	        {{end}}" alt=""/></a>
{{ else }}<img src={{$img}} alt=""/>{{ end }}{{ end }}